footer {
  background-color: #100E47;
}
@media (max-width:991px) {
  footer .container .row {
    text-align: center;
  }
}
@media (max-width:767px) {
  footer .container .row .box {
    margin-bottom: 50px;
  }
}
footer .container .row .box .logo {
  color: #ffffff;
  font-size: 2.5rem;
  text-decoration: none;
}
footer .container .row .box h4 {
  color: #7975FC;
  margin-bottom: 20px;
}
footer .container .row .box p {
  color: #7975FC;
}
footer .container .row .box p:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .container .row .box .links a {
  color: rgb(192, 192, 192);
  font-size: 1.8rem;
  margin-left: 20px;
}
footer .container .row .box .links a:hover {
  color: #7976FC;
}
footer .container .row .box .main-btn {
  background-color: #7976FC;
  border-radius: 7px;
  transition: 0.2s;
  margin-top: 50px;
}
footer .container .row .box .main-btn:hover {
  background-color: #100E47;
}
@media (max-width:991px) {
  footer .container .row .box .add {
    width: 100% !important;
  }
}

.navbar {
  background-color: #7791FB;
  position: relative;
}
@media (max-width:991px) {
  .navbar {
    background-color: #7975FC;
  }
}
.navbar .container .logo {
  font-size: 46px;
  color: #ffffff;
}
@media (max-width:991px) {
  .navbar .container .collapse {
    background-color: #7976FC;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: calc(100vh - 95px);
    padding: 0 10px;
  }
}
@media (max-width: 320px) {
  .navbar .container .collapse {
    background-color: #7976FC;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: calc(120vh - 95px);
    padding: 0 10px;
  }
}
.navbar .container .collapse a {
  font-size: 20px;
  color: #ffffff;
}
.navbar .container .collapse a:hover {
  text-decoration: underline;
}
.navbar .container .collapse .main-btn {
  background-color: #4CB5FF;
  color: white;
}
.navbar .container .collapse .main-btn:hover {
  text-decoration: none;
  background-color: #7976FC;
}
.navbar .container .navbar-toggler {
  box-shadow: none;
}
.navbar .container .navbar-toggler:focus {
  box-shadow: none;
}

@font-face {
  font-family: myfont;
  src: url(../Segoe\ UI.ttf);
}
* {
  font-family: "Cairo", sans-serif;
}

.landing {
  background-color: #7791FB;
  height: calc(100vh - 95px);
  overflow: hidden;
}
@media (max-width:991px) {
  .landing {
    background-color: #7975FC;
    height: calc(100vh - 95px);
  }
}
@media (max-width: 320px) {
  .landing {
    background-color: #7975FC;
    height: calc(130vh - 95px);
  }
}
.landing .left-side .text {
  margin-bottom: 22px;
}
.landing .left-side .text h1 {
  max-width: 536px;
  font-size: 56px;
  margin-bottom: 22px;
  color: #ffffff;
}
.landing .left-side .text p {
  max-width: 525px;
  color: #ffffff;
}
.landing .bov .square {
  right: 10%;
  bottom: -60px;
}
.landing .bov .circle-1 {
  bottom: -50px;
  left: 100px;
}
.landing .bov .circle-2 {
  bottom: 0px;
  left: 200px;
}
.landing .bov .circle-3 {
  bottom: -20px;
  left: 280px;
}

.curve {
  position: absolute;
  width: 100%;
  bottom: -100px;
}
@media (max-width:991px) {
  .curve {
    bottom: 0;
  }
}
@media (max-width: 332px) {
  .curve {
    display: none;
  }
}

.user .container .user-sec {
  margin-top: 200px;
}
.user .container .user-sec .row .card {
  position: relative;
  margin-bottom: 150px;
}
.user .container .user-sec .row .card img {
  top: -55px;
}
.user .container .user-sec .row .card img:nth-child(2) {
  top: -78px;
}

.control .container .control-sec {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.control .container .control-sec .upper {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1843137255) inset;
  padding: 7px;
}
.control .container .control-sec .upper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.control .container .control-sec .upper div {
  margin: 0 10px 0 20px;
}
.control .container .control-sec .upper svg {
  color: #7976FC;
}
.control .container .control-sec .body {
  display: flex;
}
.control .container .control-sec .body .chozen-side {
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1843137255) inset;
}
.control .container .control-sec .body .chozen-side > div {
  text-transform: capitalize;
  padding: 10px;
  cursor: pointer;
}
.control .container .control-sec .body .chozen-side > div svg {
  font-size: 1.5rem;
  color: #7976FC;
  transition: 0.2s;
}
@media (max-width:767px) {
  .control .container .control-sec .body .chozen-side > div {
    padding: 5px;
  }
}
.control .container .control-sec .body .content {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 37px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1843137255);
}
@media (max-width:767px) {
  .control .container .control-sec .body .content {
    padding: 10px;
  }
}
.control .container .control-sec .body .content .box-us {
  flex-basis: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 7px;
  padding-top: 10px;
  margin-bottom: 3%;
  position: relative;
  cursor: pointer;
}
.control .container .control-sec .body .content .box-us::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(204, 204, 204, 0.151);
  width: 0;
  height: 100%;
  transition: 0.2s;
}
.control .container .control-sec .body .content .box-us:hover::before {
  width: 100%;
}
@media (max-width:1199px) {
  .control .container .control-sec .body .content .box-us {
    flex-basis: 100%;
    justify-content: flex-start;
    margin-bottom: 6%;
  }
}
.control .container .control-sec .body .content .box-us .caption {
  flex-basis: 100%;
  margin-left: 40px;
  margin-bottom: 20px;
}
.control .container .control-sec .body .content .box-us .left span {
  display: inline-block;
  margin-bottom: 10px;
}
@media (max-width:1199px) {
  .control .container .control-sec .body .content .box-us .left span {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 5px;
  }
}
.control .container .control-sec .body .content .box-us .left span:not(.ms-lg-3) {
  color: #777;
}
.control .container .control-sec .body .content .box-us .right span {
  display: inline-block;
  margin-bottom: 10px;
}
@media (max-width:1199px) {
  .control .container .control-sec .body .content .box-us .right span {
    margin-bottom: 20px;
    padding-left: 20px;
  }
}
.control .container .control-sec .body .content .box-us .right span:not(.ms-lg-3) {
  color: #777;
}
.control .container .control-sec .body .content .box-us .down {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  align-items: center;
  flex-basis: 100%;
  padding: 7px;
  text-align: center;
}
@media (max-width:767px) {
  .control .container .control-sec .body .content .box-us .down {
    flex-direction: column;
  }
  .control .container .control-sec .body .content .box-us .down > div {
    margin-bottom: 10px;
  }
}
.control .container .control-sec .body .content .box {
  flex-basis: 30.3%;
  background-color: #ffffff;
  border-radius: 7px;
  margin-bottom: 3%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.control .container .control-sec .body .content .box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(204, 204, 204, 0.151);
  width: 0;
  height: 100%;
  transition: 0.2s;
}
.control .container .control-sec .body .content .box:hover::before {
  width: 100%;
}
@media (max-width:991px) {
  .control .container .control-sec .body .content .box {
    flex-basis: 47.3%;
  }
}
@media (max-width:767px) {
  .control .container .control-sec .body .content .box {
    flex-basis: 100%;
  }
}
.control .container .control-sec .body .content .box p:nth-child(2) {
  color: #777;
}
.control .container .control-sec .body .content .box svg {
  font-size: 2rem;
  color: #7976FC;
  margin-right: 10px;
}

.system {
  background-color: #7975FC;
  overflow: hidden;
}
@media (max-width:767px) {
  .system img {
    top: 60% !important;
    transform: translateY(-50%) !important;
  }
}
.system .container .sys-sec .box {
  position: relative;
  margin-bottom: 80px;
}
.system .container .sys-sec .box::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 1px;
  height: 121px;
  background-color: #ffffff;
}

.main-btn {
  background-color: #100E47;
  color: white;
  transition: 0.2s;
  z-index: 5;
}
.main-btn:hover {
  text-decoration: none;
  background-color: #7975FC;
  color: #ffffff;
}

.main-heading {
  margin-bottom: 57px;
}
@media (max-width:767px) {
  .main-heading {
    text-align: center;
  }
}
.main-heading h1 {
  color: #7976FC;
}
.main-heading p {
  max-width: 771px;
  color: #777;
  margin: 19px auto 0;
}

.ribbon {
  position: relative;
  background-color: #7975FC;
}
.ribbon .container .row .prag p {
  font-size: 36px;
}
.ribbon .container .row .zr a {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  margin-bottom: 12px;
}

div.circle-1-down {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #7975FC;
  box-shadow: 0px 33px 36px 0px rgba(0, 0, 0, 0.1843137255);
  bottom: -70px;
  left: 15%;
}

div.circle-2-down {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #7975FC;
  box-shadow: 0px 33px 36px 0px rgba(0, 0, 0, 0.1843137255);
  bottom: -80px;
  left: 30%;
  z-index: 3;
}

div.circle-3-down {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  background-color: #7975FC;
  box-shadow: 0px 33px 36px 0px rgba(0, 0, 0, 0.1843137255);
  bottom: -60px;
  left: 25%;
  z-index: 2;
}

div.circle-2-up {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #7975FC;
  box-shadow: 0px 33px 36px 0px rgba(0, 0, 0, 0.1843137255);
  top: -10px;
  right: 0px;
  z-index: 3;
}

div.circle-3-up {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  background-color: #7975FC;
  box-shadow: 0px 33px 36px 0px rgba(0, 0, 0, 0.1843137255);
  top: -70px;
  right: 0;
  z-index: 2;
}/*# sourceMappingURL=main.css.map */