$mainColor:#7976FC;
$secColor:#7975FC;
$thColor:#100E47;   // Color
$ftColor:#4CB5FF; 
$fvColor:#1E2147;

$minSmall:#{"min-width:768px"};
$minMeduim:#{"min-width:992px"};   // width of screen responsive minuimam
$minLarge:#{"min-width:1200px"};

$maxSmall:#{"max-width:767px"};
$maxMeduim:#{"max-width:991px"};   // width of screen responsive maxuimam
$maxLarge:#{"max-width:1199px"};   